{% extends 'layouts/dashboard.html' %}

{% block title %}
<title>Dashboard - View Users</title>
{% endblock %}

{% block dashboard_content %}
<div class="mt-4">
  <table class="table border text-center mt-4" id="dashboard-table-users">
    <thead>
      <tr class="bg-light">
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>USERNAME</td>
        <td>FIRST_NAME</td>
        <td>LAST_NAME</td>
        <td>LOCATION</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
