{% load staticfiles %}
<!-- Sample Post -->
<div class="card mt-4">
  <div class="card-header">
    <img class="rounded-circle" src="https://picsum.photos/960/480" width="40" height="40" alt="user-profile-picture">
    <a class="nav-link d-inline text-success" href={% url 'post-detail-ui' %}>{{ post.title }}</a>
    <h6 class="d-inline">__STATUS__</h6>
  </div>
	<img class="card-img-top" src="https://picsum.photos/720/900" height="420" alt="post-image">

  
  <div class="card-body">
    <p class="card-text">Username goes here</p>
    <span class="card-text">Hazard: {{ post.hazard_type }} <i class="fa fa-map-marker"></i> Location: {{ post.location }}</span>
  </div>
</div>
<!-- Close Sample Post -->
