{% extends 'new_bases/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 bg-light border rounded mx-auto mt-5 p-5">
                <h1>Sign In</h1>
                <form class="clearfix" id="login-form" method="post" action="">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}

                    <!-- Forgot Password Link -->
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <a class="text-success" href="/forgotpassword">Forgot Password?</a>
                        </div>
                    </div>

                    <!-- Login Buttons -->
                    <a class="btn btn-outline-secondary" href="/register">Register</a>
                    <button type="submit" class="btn btn-success float-right">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
