
{% load static %}

<link rel="stylesheet" href="{% static 'css/mapsPopUp.css' %}">

<!-- Sample Post -->
<div class="card mt-4">
    <div class="card-header">
        <img class="rounded-circle" src="https://picsum.photos/960/960" height="40" alt="user-profile-picture">
        <a href={% url 'post_detail' post.post_id %}>
            <h6 class="d-inline">{{ post.title }} </h6>
        </a>
        <h6 class="d-inline">, posted by
        <a href={% url 'profile_detail' post.user_id %}>
        {{ post.user_id }}
        </a>
         on {{ post.date }} </h6>
    </div>
    {% if post.preview_image %}
        <img class="card-img-top" src= '{{ post.preview_image.url }}' height="200" alt="post-image">
    {% else %}
        <img class="card-img-top" src= '{% static 'images/default_image.png' %}' height="200" alt="post-image">
    {% endif %}
    <div class="card-body">
        <p class="card-text">Status: {{ post.status }}</p>
        <p class="card-text">{{ post.description }}</p>
        <span class="card-text">{{ post.hazard_type }} <i class="fa fa-map-marker"></i> {{ post.location }}</span>
        <button id="myBtn">Open Maps</button>
        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <div id="map">
            <script>
                var map;
                var myLatLng;
                var marker;

                function initMap() {
                    myLatLng = {lat: {{ latitude }}, lng: {{ longitude }}};
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: myLatLng,
                        zoom: 14
                    });
                    marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: '{{ post.title }}'
                    });
                }
            </script>
            </div>
          </div>

        </div>
    </div> 


   <script src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyDlXPyvEDLgSrkOTWhva-YUCSnaLmeaUaQ&callback=initMap" async defer>
   </script>


   <script src="{% static 'js/mapsPopUp.js' %}"></script>
