{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ userdata.username }}'s Profile
{% endblock %}

{% block content %}
    <div>
    {% if userdata.avatar %}
        <img style="width:150px; height:150px"
             src= {{ userdata.avatar.url }} />
        {% else %}
        <h2> No image to display. :(</h2>
        {% endif %}
        <br>
        {{ userdata.biography }}
        <br> <br>
        <li> {{ userdata.location }}</li>
    </div>
    <br>
{% endblock %}

{% block footer %}
    <a href= {% url 'post_list' %}> Go back </a>
{% endblock %}