<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="author" content="Portfolio - Stanley Liu">
  <meta name="description" content="Portfolio - Stanley Liu">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row fullscreen">
      <aside class="col-2 d-flex align-items-center bg-dark" id="sidebar">
        <div class="sidebar-content mx-auto">
          <div class="sidebar-brand p-2">
            <img class="img-fluid d-block mx-auto rounded-circle" id="sidebar-portrait" src="https://picsum.photos/150" alt="portrait">
          </div>
          <div class="sidebar-socials text-center">
            <ul class="list-inline list-unstyled my-4">
              <li class="list-inline-item mx-2">
                <a class="social-icon" href="https://www.instagram.com/pl3nny/?hl=en">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2">
                <a class="social-icon" href="https://www.facebook.com/pl3nny">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2">
                <a class="social-icon" href="https://github.com/pl3nny">
                  <i class="fa fa-github-alt"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2">
                <a class="social-icon" href="https://www.linkedin.com/in/alexander-hernandez-b1b645155/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </aside>
      <div class="col-10 p-5" id="content">
        <!-- SECTION 1 -->
        <div class="portfolio-section">
          <div class="portfolio-content">
            <h1>Alex</h1>
            <p>Born and raised in Los Angeles, currently studying Computer Science at San Francisco State University. I am also
              a brother of Nu Alpha Kappa Fraternity, Inc. as well as Chapter President. I decided to major in computer science
              in the hopes to propel human kind to an ever brighter future
            </p>
          </div>
          <!-- SECTION 3 -->
          <div class="portfolio-section my-5">
            <h1>Skills</h1>
            <div class="portfolio-item">
              <h4>Programming Languages</h4>
              <p>Expert Gamer, C++, Java, HTML, CSS, C, JavaScript, and now learning python.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</html>