<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="author" content="Portfolio - Stanley Liu">
  <meta name="description" content="Portfolio - Stanley Liu">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row fullscreen">
      <aside class="col-2 d-flex align-items-center bg-dark" id="sidebar">
        <div class="sidebar-content mx-auto">
          <div class="sidebar-brand p-2">
            <img class="img-fluid d-block mx-auto rounded-circle" id="sidebar-portrait" src="https://picsum.photos/150" alt="portrait">
          </div>
        </div>
      </aside>
      <div class="col-10 p-5" id="content">
        <!-- SECTION 1 -->
        <div class="portfolio-section">
          <div class="portfolio-content">
            <h1>James Quintero</h1>
            <p>I'm a Computer Science undergrad at San Francisco State University, and I'm interested in Artificial Intelligence
              and Machine Learning. I hope to learn how to lead a team and do proper software engineering.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</html>