<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="author" content="Portfolio - Tumar Temirova">
  <meta name="description" content="Tumar Temirova">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row fullscreen">
      <aside class="col-2 d-flex align-items-center bg-dark" id="sidebar">
        <div class="sidebar-content mx-auto">
          <div class="sidebar-brand p-2">
            <img class="img-fluid d-block mx-auto rounded-circle" id="sidebar-portrait" src="https://picsum.photos/150" alt="portrait">
          </div>
          <div class="sidebar-socials text-center">
            <ul class="list-inline list-unstyled my-4">
              <li class="list-inline-item mx-2">
                <a class="social-icon" href="http://facebook.com/tumar.temirova">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2">
                <a class="social-icon" href="http://linkedin.com/in/tumar">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2">
                <a class="social-icon" href="http://github.com/ttumar">
                  <i class="fa fa-github-alt"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </aside>
      <div class="col-10 p-5" id="content">
        <!-- SECTION 1 -->
        <div class="portfolio-section">
          <div class="portfolio-content">
            <h1>Tumar Temirova</h1>
            <p>Currently, I am a senior student in CS major at San Francisco State University, graduating on 12/2018. I came
              from Kyrgyzstan to follow my dream to become a highly qualified software developer. I love solving problems
              and writing code. Right now, I am looking for an opportunity to work in real programming world to use my knowledge
              and learn more.I love travelling and exploring new places. My favorite places in San Francisco are Lands End
              and Golden Gate Park, and I love spending my free time walking in these places. I fell in love with skiing
              especially this year after I have learned. When I am at home, I like to read classic literature and watch movies,
              or I enjoy cooking.
            </p>
          </div>
        </div>
        <!-- SECTION 2 -->
        <div class="portfolio-section my-5">
          <h1>Education</h1>
          <div class="portfolio-item d-flex">
            <div class="portfolio-content mr-auto">
              <h4>San Francisco State University</h4>
              <p>Bachelor of Computer Science</p>
            </div>
            <div class="date-wrap">
              <span>September 2010 - May 2013</span>
            </div>
          </div>
          <div class="portfolio-item d-flex">
            <div class="portfolio-content mr-auto">
              <h4>Kyrgyz Turkish Manas University</h4>
              <p>Computer Engineering</p>
            </div>
            <div class="date-wrap">
              <span>September 2010 - May 2013</span>
            </div>
          </div>
        </div>
        <!-- SECTION 3 -->
        <div class="portfolio-section my-5">
          <h1>Skills</h1>
          <div class="portfolio-item">
            <h4>Programming Languages</h4>
            <p>Java | C++ | HTML | CSS | JavaScript | Bootstrap</p>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-content">
              <h4>Tools</h4>
              <p>Linux | Windows | Assembly | MIPS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</html>