{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ post.title }}
    Posted by {{ post.user_id }}
{% endblock %}

{% block content %}
    <div>
    {% if image %}
        <img style="width:300px;"
             src={% static image %} />
        {% else %}
        <h2> No image to display. :(</h2>
        {% endif %}
        <br>
        {{ post.description }}
        <br> <br>
        <li> {{ post.location }}</li>
        <li> {{ post.date }}</li>
    </div>
    <br>
    <div>
        {% for comment in comment_list %}
            <li> {{ comment.comment_body }} - {{ comment.user_id }}</li>
            {% empty %}
            <h4> No comments yet :( </h4>
        {% endfor %}
    <br>
        {% if user.is_authenticated %}
            {% include 'myapp/comments_form.html' %}
        {% else %}
            <a href={% url 'register' %}>Register</a> or <a href={% url 'login' %}>log in</a> to comment.
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <a href= {% url 'post_list' %}> Go back </a>
{% endblock %}