{% load staticfiles %}

<!doctype html>
<html lang="en">

<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="author" content="SuperHeroesInTraining">
  <meta name="description" content="Software Engineering Project - About Us">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
  <div class="container">
    <!--HEADER-->
    <div class="mt-4">
      <div class="header text-center">
        <a href="/"><h1 class="title">Super Heroes In Training</h1></a>
        <h2>Software Engineering</h2>
        <h4>SFSU 2018 Spring</h4>
        <h4>Section - 01</h4>
        <h4>Team 5</h4>
      </div>
    </div>

    <hr></hr>

    <div class="p-2">
      <h2 class="text-center mb-0">Meet The Team</h2>
    </div>

    <!-- MAIN CONTENT -->
    <div class="mt-4">
      <div class="card-deck">
        <div class="card">
          <a href="about/james">
            <img class="card-img-top" src="#" alt="">
          </a>
          <div class="card-block text-center">
            <h4 class="card-title mb-0">James</h4>
            <p class="card-text">(Team-Lead)</p>
          </div>
        </div>
        <div class="card">
          <a href="about/stanley">
            <img class="card-img-top" src="#" alt="">
          </a>
          <div class="card-block text-center">
            <h4 class="card-title mb-0">Stanley</h4>
            <p class="card-text"> (Front-End-Lead) </p>
          </div>
        </div>
        <div class="card">
          <a href="about/danielle">
            <img class="card-img-top" src="#" alt="">
          </a>
          <div class="card-block text-center">
            <h4 class="card-title mb-0">Danielle</h4>
            <p class="card-text">(Back-End-Lead)</p>
          </div>
        </div>
        <div class="card">
          <a href="about/tumar">
            <img class="card-img-top" src="#" alt="">
          </a>
          <div class="card-block text-center">
            <h4 class="card-title mb-0">Tumar</h4>
            <p class="card-text"> (Front-End) </p>
          </div>
        </div>
        <div class="card">
          <a href="about/alex">
            <img class="card-img-top" src="#" alt="">
          </a>
          <div class="card-block text-center">
            <h4 class="card-title mb-0">Alex</h4>
            <p class="card-text">(Back-End)</p>
          </div>
        </div>
        <div class="card">
          <a href="about/jzhong">
            <img class="card-img-top" src="#" alt="">
          </a>
          <div class="card-block text-center">
            <h4 class="card-title mb-0">Jzong</h4>
            <p class="card-text">(Back-End)</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</html>