<!--
  * Table Based View
  * with sidebar navigation

  * List / View Users (P1),
  * List / View Posts (P1),
  * Set Status of Post (P1)
  * Delete Posts (P1)
-->
{% extends 'layouts/base.html' %}
{% load staticfiles %}


{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboard/index.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- Dashboard Navigation -->
  <div class="row">
    <div class="col-md-8 mx-auto mt-5">
      <ul class="nav justify-content-center border-bottom">
        <li class="nav-item">
          <a class="nav-link active" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Posts</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Dashboard Content -->
  <div class="row">
    <div class="col">
      {% include 'views/dashboard/sample_post_table.html' %}
      {% include 'views/dashboard/same_user_table.html' %}
    </div>
  </div>
  <!-- /#dashboard-content -->
</div>
{% endblock %}