<div>
    <h2 class="text-success">Posts</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Post Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% if posts %}
            {% for post in posts %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.user_id }}</td>
                    <td>{{ post.date }}</td>
                    <td>{{ post.location }}</td>
                    <td>{{ post.status }}</td>
                    <td>DELETE</td>
                </tr>
            {% endfor %}
            {% else %}
            <h2> {{ error_message }}</h2>
        {% endif %}
        </tbody>
    </table>
</div>