<div class="container-fluid bg-dark text-light mt-5">
  <hr>
  <ul class="nav list-inline list-unstyled justify-content-center">
    <li class="list-inline-item">
      <a class="nav-link text-success" href={% url 'about_us' %}>About Us</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link text-success" href={% url 'contact' %}>Contact</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link text-success" href={% url 'terms_of_service' %}>Terms of Service</a>
    </li>
  </ul>
  <div class="text-center mt-4 pb-4">
    <h6><i class="fa fa-copyright"></i> 2018 Trashposters</h6>
    <h6>SuperHeroesInTraining</h6>
    <h6>Section - 01 | Team 5 | SFSU Spring 2018</h6>
  </div>
</div>