
{% load staticfiles %}

<nav class="navbar navbar-expand-md navbar-light bg-light">


  <table style="width:100%">
    <tbody>
	<tr>
		<td>
			<!-- Brand -->
			  <a class="navbar-brand" href="/">
			    <table><tr><td><h2 class="text-success">TrashPosters</h2></td><td>
				<img src={% static '/images/trashPostersLogo.png' %} style="height:50px" />
				</td></tr></table>
			      <!-- Hidden on xs devices -->
			    <h6 class="d-none d-sm-block">View and Report Environment Issues.</h6>
			  </a>
		</td>
		<td>
  <!-- Button Collapse -->
<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button> -->
<!-- Visible on xs devices -->
      <li class="m-2 d-block d-sm-none text-success">
        <h6>View and Report Environment Issues.</h6>
      </li>
		</td>
	<td>
	{% include 'new_bases/search_bar.html' %}
	<p>SFSU Software Engineering Project, Spring 2018. For Demonstration Only</p>
	</td>
		<td>
	<!-- Navigation Links -->
  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav ml-auto text-center bg-light">
      
	<li class="nav-item m-2">
          <a class="bold border nav-link rounded text-dark" href={% url 'create_post' %}>Report a issue <i class="fa fa-edit"></i></a>
        </li>
      {% if user.is_authenticated  %}
        

        <li class="nav-item m-2">
          <div class="dropdown">
            <button class="btn dropdown-toggle bg-light w-100" type="button" id="dropdown-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="rounded-circle" src="https://picsum.photos/30/30" width="30" height="30" alt="avatar">
              <span class="align-middle"> {{ request.user.username }} </span>
            </button>
            <div class="dropdown-menu text-center" aria-labelledby="dropdown-menu-button">
              <a class="dropdown-item nav-link text-dark" href={% url 'dashboard_city_official' %}>Dashboard</a>
              <a class="dropdown-item nav-link text-dark" href={% url 'settings' %}>Settings</a>
              <a class="dropdown-item nav-link text-dark" href={% url 'logout' %}>Logout</a>
            </div>
          </div>
        </li>
        {% else %}
        <li class="nav-item m-2">
          <a class="nav-link rounded text-dark px-md-4" href={% url 'login' %}>Login</a>
        </li>
        <li class="nav-item border border-secondary rounded h-100 m-2">
          <a class="nav-link text-dark" href={% url 'register' %}>Register</a>
        </li>
      {% endif %}
    </ul>
  </div>

</td>
		<td></td>	
	</tr>
	</tbody>
  </table>

  


  
</nav>
