{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Home</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <!-- Search -->
        <div class="row">
            <div class="col mt-4">
                <div id="search_div">
                    <div class="form-group mb-0">
                        <label for="query">Search Environmental Issues</label>
                        <form action="" method="get">
                            {{ form.selection }} {{ form.value }}
                            <button type="submit"> Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Create Post | Register to Post -->

        <!-- Feed -->
                {% if posts %}
                <ul>
                    {% for post in posts %}
                        {% include 'views/post/post_view.html' %}
                    {% endfor %}
                </ul>
            {% else %}
                <h3> No posts to display. :( </h3>
            {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/utils/resize_select.js' %}"></script>
    <script type="text/javascript">

        //submits search when enter is pressed
        $('#query').keypress(function (e) {
            if (e.which == 13)
                search();
        });

        function search() {
            var selection = $('#filter-post-menu').find(':selected').text().toLowerCase();
            var query = $('#query').val();
            window.location.href = "./search/" + selection + "=" + query;

        }
    </script>

{% endblock %}
