{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Home</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <!-- Search -->
        <div class="row">
            <div class="col mt-4">
                <div id="search_div">
                    <div class="form-group mb-0">
                        <label for="query">Search Environmental Issues</label>
                        <form action="" method="get">
                            {{ form.selection }} {{ form.value }}
                            <button type="submit"> Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Create Post | Register to Post -->
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                    <a href={% url 'create_post' %}>Create Post</a>
                {% else %}
                    <a href={% url 'register' %}>Register to Post</a>
                {% endif %}
            </div>
        </div>

        <!-- Feed -->
        <div class="row">
            <div class="col">
                <div id="posts">
                    <!-- Sample Post -->
                    <div class="card">
                        <div class="card-header">
                            <img class="rounded-circle" src="https://picsum.photos/960/960" height="40"
                                 alt="user-profile-picture">
                            <span class="ml-2">Sample Title</span>
                        </div>
                        <img class="card-img-top" src="https://picsum.photos/960/480" height="200" alt="post-image">
                        <div class="card-body">
                            <p class="card-text">Sample Author</p>
                            <span class="card-text">Hazard <i class="fa fa-map-marker"></i> Location</span>
                        </div>
                    </div>
                    <!-- Close Sample Post -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/utils/resize_select.js' %}"></script>
    <script type="text/javascript">

        //submits search when enter is pressed
        $('#query').keypress(function (e) {
            if (e.which == 13)
                search();
        });

        function search() {
            var selection = $('#filter-post-menu').find(':selected').text().toLowerCase();
            var query = $('#query').val();
            window.location.href = "./search/" + selection + "=" + query;

        }
    </script>

{% endblock %}
