{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Super Heroes In Training</title>
  <meta charset="utf-8">
  <meta name="author" content="SuperHeroesInTraining">
  <meta name="description" content="Software Engineering Project">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
  <div style="padding:50px;">
      <h1>Super Heroes In Training</h1>
      <a href="about">About Page</a> <br>
      <a href="search">Search</a>
  </div>
</body>

</html>
