{% extends 'layouts/base.html' %}

{% block title %}
<h2> Login here!</h2>
{% endblock%}
{% block content %}
<div>
    {% if error_message %}
        <h2> {{error_message}} </h2>
    {% endif %}
    <form class="form-horizonal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'myapp/form_template.html' %}
        <div class="form-group">
            <button type="submit"> Log in!  </button>
        </div>
    </form>
</div>
    <a href= {% url 'index' %}> Go back </a>
{% endblock%}
{% block footer %}

{% endblock%}
