{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Trashposters</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/select_dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/index.css' %}">
{% endblock %}

{% block content %}
    <form type="get" action="">
        {% csrf_token %}
        {% include 'myapp/form_template.html' %}
    </form>
    <button type="submit">Submit</button>
    <div class="container">
        <div id="results_div">
            <h2> Results </h2>
            {% if posts %}
                <ul>
                    {% for post in posts %}
                        {% include 'views/post/post_view.html' %}
                    {% endfor %}
                </ul>
            {% else %}
                <h3> No posts to display. :( </h3>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/utils/resize_select.js' %}"></script>
    <script src="{% static 'js/utils/select_dropdown.js' %}"></script>
    <script src="{% static 'js/search_bar.js' %}"></script>
    <script src="{% static 'js/tab_nav.js' %}"></script>
    <script type="text/javascript">

    </script>
{% endblock %}