{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block title %}
<title>Settings</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/settings/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto my-5">
      <ul class="nav border-bottom" id="tab-navigation">
        <li class="nav-item">
          <a class="nav-link h3 pl-0 text-success" href="/settings">User Profile</a>
        </li>
      </ul>
      {% include 'views/settings/user_profile.html' %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/preview_avatar.js' %}"></script>
<script src="{% static 'js/tab_nav.js' %}"></script>
{% endblock %}
