<!-- Sample Post -->
<div class="card mt-4">
  <div class="card-header">
    <img class="rounded-circle" src="https://picsum.photos/960/960" height="40" alt="user-profile-picture">
    <a class="nav-link d-inline text-success" href={% url 'post-detail-ui' %}>Sample Title</a>
    <h6 class="d-inline">__STATUS__</h6>
  </div>
  <img class="card-img-top" src="https://picsum.photos/960/480" height="200" alt="post-image">
  <div class="card-body">
    <p class="card-text">Sample Author</p>
    <span class="card-text">Hazard <i class="fa fa-map-marker"></i> Location</span>
  </div>
</div>
<!-- Close Sample Post -->