{% extends 'new_bases/base.html' %}
{% load staticfiles %}

{% block title %}
  <title>Contact</title>
{% endblock %}

{% block content %}
<div class="container">

  <!-- Tab Bar Navigation -->
  <div class="row">
    <div class="col mt-5">
      {% include 'new_bases/tab_nav.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col my-5 py-5">
      <div>
        <h2>Email:</h2>
        <a class="text-success" href="mailto:trashposters@gmail.com">trashposters@gmail.com</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/tab_nav.js' %}"></script>
{% endblock %}
