{% extends 'new_bases/base.html' %}
{% load staticfiles %}

{% block title %}
<title>Forgot Password</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 bg-light border rounded mx-auto mt-5 p-5">
      <h1>Forgot Password</h1>
      <hr>
      <form class="clearfix" id="forgotpassword-form" method="post">
        <!-- Email -->
        <div class="form-row">
          <div class="form-group col">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
        </div>

        <!-- Reset Password -->
        <button type="submit" class="btn btn-success float-right">Continue</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
